comfyui-frontend-package
comfyui-workflow-templates
comfyui-embedded-docs
torch
torchsde
torchvision
torchaudio
numpy
einops
transformers
tokenizers
sentencepiece
safetensors
aiohttp
yarl
pyyaml
Pillow
scipy
tqdm
psutil
alembic
SQLAlchemy
av
#non essential dependencies:
kornia>=0.7.1
spandrel
pydantic~=2.0
pydantic-settings~=2.0
